@import url('https://fonts.googleapis.com/css?family=Catamaran:700');

:root {
    --mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --h: 'Catamaran', sans-serif;  
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-size: calc(.75em + .75vw);
    background: #325;
    font-family: var(--mono);
}

@media print {
  :root {
    color: #000;
    font-size: 12px;
  }
  @page {
    size: landscape;
  }
}

main{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
  }
header, article{
  width: 100%;
  color: #325;
  max-width: 42rem;
  padding: 0;
}

@media print {
  header, article{
    max-width:none;
  }
}

* {
  box-sizing:border-box;
  font-weight: normal;
  margin: 0
  }
* + * { 
  margin: 1.8rem 0 0 
}
article,
body,
main {
  margin: 0;
}

h1,
h2, 
h3 {
  font-family: var(--h);
  font-weight: 600;
  letter-spacing: .01em;
}

h1{
  font-size:3.2em;
  line-height: 1.125;
}

h2{
  font-size: 1.6em;
  line-height: 1.125;
}

h3{
  font-size: 1.125em;
  line-height: 1.6;
}

p {
  font-size: 1.125em;
  line-height: 1.6;
}

.col-white,
a.link-white,
.link-white a{
  color:#fff;
}

a {
  color: inherit;
  font-size: 1em;
  letter-spacing: inherit;
}

.nav {
    flex-basis:18em;
    background-color: #325;
    color:#f87;
    margin: 0;
    max-width:100%;
    min-width:20%;
    flex-grow:1;
    columns:18em; 
    padding: 4.5em 5%;
    padding: 4.5em 5vw;
}

.nav__link{
  display: block;
  color: #efd;
  font-family: var(--h);
}

.nav__excerpt{
  margin: .9rem 0;
  font-size: 1.125em;
  line-height: 1.6;
  max-width: 16.2rem;
}

article {
  float:left;
  flex-grow: 1;
  flex-basis:22.5em;
  margin: 0;
  min-width: 62.5%;
  padding: 1.8em 5%;
  padding: 1.8em 5vw;
  background-image: linear-gradient(45deg, #fff 0%, #fff 50%,#f87 50%,#efd 100%);
  background-position: right top;
  background-size: 30.8em 30.8em;
  background-repeat: no-repeat;
  background-color: #fff;
}
@media print {
  article {
    columns: 2;
    width: 100%;
  }
}


article > *  {
  width: 100%;
  max-width: 45rem;
}

.job {
  display: inline-block;
  vertical-align: top;
  width: 36em;
  min-width: 45%;
  max-width: 95%;
  margin-right: 5%;
}

.job > *{
  margin: .45rem 0 0;
}

.job__description {
  margin-top: .9rem;
}

.skills {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  columns: 9rem;
  list-style: none;
}

.skill {
  display: inline-block;
  width: 100%;
  padding: .9rem .9rem 0 0;
  margin: 0;
}

.header--print {
  margin: 0;
}

.breadcrumbs {
  display: block;
  padding: 0;
  margin: 0;
}
.breadcrumb {
  display: inline;
}

.breadcrumb > *{
  font-size: 1em;
  line-height: 1.8;
}

.dib {
  display: inline-block;
}

@media print {
  .dn-p {
    display: none;
  }
}

@media screen {
  .dn-s {
    display: none;
  }
}

.break-avoid {
  position: relative;
  break-inside: avoid;
}