<div id="navigation" class="navigation orange-bg">

  <ul class="mdl__cntr columns">
{% for page in site.html_pages %}
  {% if page.permalink == '/' %}
    {% continue %}
  {% endif %}
  <li class="mdl">
        <h4 class="mdl__h4">
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h4>
        {% if page.excerpt %}
          <p>{{page.excerpt}}</p>
        {% endif %}
  </li>
{% endfor %}

    <li class="mdl">
      <a href="tel:773 809 4759">773 809 4759
        </a></br>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </li>
  </ul>

</div>
